* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(31, 30, 30);
}

header {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

header h2 {
    /* border: 2px solid black; */
    position: relative;
    padding: 2rem;
}
header span{
    /* border: 2px solid black; */
    position:absolute;
    font-size: 0.75rem;
    top: 90px;
    left: 145px;

}

#logo {
    /* border: 2px solid rgb(178, 155, 8); */
    text-decoration: none;
    /* color: black; */
    color: white;
    font-size: 3rem;
}

.search-form {
    /* border: 2px solid purple; */
    padding: 2rem;
    display: flex;

}

.search-input {
    outline: none;
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    appearance: none;
    border: 3px solid rgb(216, 10, 71);
}

.search-btn {
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    background: rgb(216, 10, 71);
    color: white;
    cursor: pointer;
}

.gallery{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    padding: 2rem 0rem;
    row-gap: 8rem;
    column-gap: 1.5rem;
    width: 80%;
    margin: auto;
    

}
.gallery-content img{
    /* border: 2px solid rgb(23, 179, 72); */
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px rgb(240, 132, 165);
}
.gallery-info{
    /* border: 2px solid rgb(44, 23, 179); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 0.5rem;


}
.gallery-info p{
    /* border: 2px solid rgb(179, 65, 23); */
    color: rgb(251, 249, 249);
    font-size: 1rem;
    font-weight: bolder;
}
.gallery-info a{
    /* border: 2px solid rgb(179, 23, 145); */
    /* text-decoration: none; */
    color: rgb(251, 248, 248);
    font-size: 1rem;
    font-weight: bolder;
}
/* more button */
.nav-btn{
    /* border:2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0rem;

}
.more{
    /* border: 2px solid red; */
    border: none;
    outline: none;
    appearance: none;
    color:black;
    padding: 0.7rem;
    font-size: 1rem;
    /* border-radius: 1rem; */
    cursor: pointer;
    transition: 0.3s;
}
.more:hover{
    transform: scale(1.2);
}